language: android
jdk: oraclejdk8
android:
  components:
  - tools
  - platform-tools
  - build-tools-24.0.2
  - android-25
script:
- "./gradlew build"
after_script:
- cd app
- git init
- git config user.name "$username"
- git config user.email "$useremail"
- git add .
- git commit -m "Build"
- git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:Build-app
branches:
  only:
    - master
deploy:
  provider: releases
  api_key:
    secure: G1kYwYeTcwYDOk38ZY7zHPlk6u15a4XX4yhQf6GU5b5CNMbSPF2RgKqC6Karu2O5bM942yjh03jO0S93LP1DR80am06SsFEj1xxqeueGj7oo3Q3v4xEbOUYMvGzRjck3DcastIPOONH78CbLFt43Uj2D2Ewn4pP77c8KSCkaGjHQHd5kjGbeVzIJSuCBt8NHxKICVgBzxsXnBCQWP2eh7uTIj7k4MYk4UQ6Jc1vBoNZ4ePmGMMLyIuSpEzOYP6yM1ziJZRjuGmw/cFN7xyyEwXA6CtNr6oqOErM1IK4ZlieGBcgiBSl9Sav1zj1RG/02y+8qV1fAeWWMc9Z4cD0zm0cz+IPiMSt19gnQXLHfJoMHREcH0wEwob/KKcEDxx+n4gzgeVEsAVuu3r2dAUfrsbBfeZfAek1ihjgvs36SG5WMzfu6ZzIxJ3qPm2G2u2iyUfE/u75EbyDuJ2hkGva9IaHzlsdu5iklWvW+Cm1Y/zDw56vJkhx6q3ZQ/8L9mpdQjZwpsKHabbG6kX3eRTcozs1SaTYuQ1M2Vzxb3jD4fBoyST1PAOcso/0icKmsv3WUfmceNo50YFoYWC9dXE7ONJmsDW6pBcRLpCW7lRX0+ILLIPskBXINNBFvzoyT0ju4meivONF6kT6TTDq+EiCy+Zimv9kV8GL5BBRqwpIzNxY=
  file: app/build/outputs/apk/app-release-unsigned.apk
  skip_cleanup: true
  on:
    repo: Ezalor/MagiskManager
    all_branches: true
before_install:
- gem install fir-cli
after_deploy:
- fir p app/build/outputs/apk/XposedInstaller_by_dvdandroid-release-unsigned.apk -T ${FIR_TOKEN}
